* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
}

h1 {
  font-style: bold;
  color: #1a1a1a;
  line-height: 1.1;
}

h2 {
  font-style: italic;
  color: #74b49b;
  line-height: 1.1;
}

form {
  background-color: #FFFFFF;
  padding: 1em;
  max-width: 40ch;
  text-align: center;
  margin: auto;
}

input {
  border: 1px solid silver;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}


footer {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid lightgrey;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.container {
  background-color: white;
  text-align: center;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #FFFFFF;
}

a {
  color: #5c8d89;
}

.continue {
  test-align: center;
  background-color: #a7d7c5;
  color: #1a1a1a;
  height: 50px;
  width: auto;
  font-size: 20px;
  box-shadow: 1px;
}

.continue:hover {
  background-color: #333333;
}

body {
  background-color: #f4f9f4;
  text-align: center;
  margin: 10px;
    min-width: 250px;
}

h3,
p {
  text-align: justify;
}

h6 {
  color: #c4c4c4;
  font-size: 12px;
}

.plan {
  text-align: center;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 10px;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #87c0cd;
  font-size: 18px;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


ul li:nth-child(odd) {
  background: #333333;
}


ul li:hover {
  background: #226597;
}

ul li.checked {
  background: #113f67;
  color: #fff;
  text-decoration: line-through;
}


ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}


.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}


.header {
  background-color: #a7d7c5;
  padding: 30px 40px;
  color: white;
  text-align: center;
}


.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.add {
  padding: 10px;
  width: 25%;
  height: auto;
  background: #5c8d89;
  color: #FFFFFF;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.add:hover {
  background-color: #333333;
}