/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
}

h1 {
  font-style: italic;
  color: #373fff;
  line-height: 1.1;
}

form {
  background-color: #eee;
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  max-width: 40ch;
}

input {
  border: 1px solid silver;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

form button {
  background-color: #bbbbf2;
  border: 2px solid currentColor;
  border-radius: .25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  max-width: 20ch;
}

form button:hover {
  background-color: lavender;
}

footer {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid lightgrey;
}

		.logo {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 20%;
		}

    		.container {
			background-color: white;
			text-align: center;
			padding: 10px;
			margin-left: 10px;
			margin-right: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
			color: #FFFFFF;
		}

		a {
			color: grey;
		}

		button {
			test-align: center;
			background-color: blue;
			color: #FFFFFF;
			border-radius: 16%;
		}

    body {
      background-color: #eeeeee;
      text-align: center;
      margin: 10px;
    }

h3, p {
  text-align: justify;
}


