/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
}

h1 {
  font-style: bold;
  color: #1a1a1a;
  line-height: 1.1;
}

h2 {
  font-style: italic;
  color: #74b49b;
  line-height: 1.1;
}

form {
  background-color: #FFFFFF;
  padding: 1em;
  max-width: 40ch;
  text-align: center;
  margin: auto;
}

input {
  border: 1px solid silver;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

form button {
  background-color: #bbbbf2;
  border: 2px solid currentColor;
  border-radius: 0.25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  max-width: 20ch;
}

form button:hover {
  background-color: lavender;
}

footer {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid lightgrey;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.container {
  background-color: white;
  text-align: center;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #FFFFFF;
}

a {
  color: #5c8d89;
}

button {
  test-align: center;
  background-color: #a7d7c5;
  color: #1a1a1a;
  border-radius: 50%;
  height: 50px;
  width: auto;
  font-size: 20px;
  box-shadow: 1px;
}

body {
  background-color: #f4f9f4;
  text-align: center;
  margin: 10px;
}

h3,
p {
  text-align: justify;
}

h6 {
  color: #c4c4c4;
  font-size: 12px;
}

.plan {
  text-align: center;
}
